@import "../css/global.css";
@import "../css/header.css";

body {
    background-image: var(--indonesia-bg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; 
}

.primeira, .segunda, h1 {
    font-family: 'poppins';
    color: #fff;
    position: relative; 
    z-index: 1;
}


.primeira, .segunda, h1{
    font-family: 'poppins';
    color: #fff;
}

.primeira {
    display: flex;
}

.texto1{
    margin-top: 5rem;
    display: block;
    text-align: center;
}

.esquerdo1{
    display: flex;
    align-items: flex-start; 
    gap: 10px;
}

.esquerdo1 img{
     width: 15rem;
     border-radius: 10%;
     margin-top: 4rem;
     margin-left: 10rem;
     margin-right: 2rem;
     height: 20.5rem;
}

.esquerdo1 p{
    margin-top: 3rem;
    max-width: 30rem;
}

.esquerdo1 h3{
    font-weight: bold;
}

.texto2{
    text-align: center;
    margin-top: 5rem;
    display: block;
    margin-left: 53rem;
}

.direito1 {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-start;
}

.direito1 img {
    width: 15rem;
    height: 20.5rem;
    border-radius: 10%;
    margin-top: 4rem;
    margin-right: 9rem;
    margin-left: 2rem;
}

.direito1 p {
    margin-top: 3rem;
    max-width: 30rem;
}

.direito1 h3 {
    font-weight: bold;
}


.segunda {
    display: flex;
}

.texto3{
    margin-top: 5rem;
    display: block;
    text-align: center;
}

.esquerdo2{
    display: flex;
    align-items: flex-start; 
    gap: 10px;
}

.esquerdo2 img{
     width: 15rem;
     border-radius: 10%;
     margin-top: 4rem;
     margin-left: 10rem;
     margin-right: 2rem;
     height: 20.5rem;
}

.esquerdo2 p{
    margin-top: 3rem;
    max-width: 32rem;
}

.esquerdo2 h3{
    font-weight: bold;
}

.texto4{
    text-align: center;
    margin-top: 5rem;
    display: block;
    margin-left: 49rem;
}

.direito2{
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-start;
}

.direito2 img {
    width: 15rem;
    height: 20.5rem;
    border-radius: 10%;
    margin-top: 4rem;
    margin-right: 9rem;
    margin-left: 2rem;
}

.direito2 p {
    margin-top: 3rem;
    max-width: 32rem;
}

.direito2 h3 {
    font-weight: bold;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}





