@import "../css/global.css";
@import "../css/header.css";
body{
    background: var(--indonesia-bg);
    background-size: cover;
    background-position: center; 
    height: 100vh; 
    overflow: hidden;             
}