@import "../css/global.css";
@import "../css/header.css";
body{
    background: var(--indonesia-bg);
    background-size: cover;     
    background-position: center; 
    overflow: hidden;             
}
main {
    height: calc(100vh - 12.2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main h1 {
    font-size: 4.8rem;
    margin-bottom: 2.4rem;
}